.user-redux-container {
    padding: 20px;
    border-radius: 10px;
    background-color: #f5f5f5;
    width: 1280px;
    margin: 0 auto;

    .title-user-redux {
        text-align: center;
        font-size: 24px;
        font-weight: 600;
    }
    .body-user-redux {
        font-size: 16px;
        font-weight: 400;
    }
}

