.container-user {
    background-color: #cbd4cd;
}

.save-btn {
    background-color: #00ff00;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    height: 40px;
}

.save-btn:hover {
    background-color: #00cc00;
}

.save-btn:active {
    background-color: #009900;
}





